/* App.css */
body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(rgb(23, 23, 88),rgb(60, 133, 133),rgb(218, 218, 132));
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.product, .cart {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 45%;
}

.product h2, .cart h2 {
  color: #555;
}

.product p, .cart p {
  color: #777;
}

button {
  background-color: #28a745;
  color: #4d4b4b;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
